{{#with data}}
  <span id="is-auth" style="display: none;">{{ isAuth }}</span>
  
  <div class="wrapper">
    <form action="/rooms/audit-status" method="GET">
      <div class="filter-wrapper">
        <div>
          <label for="status">狀態：</label>
          <select id="status" name="status" class="form-select">
            <option value="">請選擇狀態</option>
            <option value="審核中">審核中</option>
            <option value="已被借用">已被借用</option>
            <option value="審核未通過">審核未通過</option>
          </select>
        </div>

        <div>
          <label for="date">日期：</label>
          <input type="date" id="date" name="date" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">查看</button>
      </div>
    </form>
  </div>

  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th><span class="th-span">教室</span></th>
          <th><span class="th-span">日期</span></th>
          <th><span class="th-span">時段</span></th>
          <th><span class="th-span">狀態</span></th>
          <th><span class="th-span">動作</span></th>
        </tr>
      </thead>

      <tbody>
        {{#each data as | data | }}
          <tr>
            <td>{{ data.room_name }}</td>
            <td>{{ data.date }}</td>
            <td>
              <div class="times-wrapper">
                {{#each data.times as | time | }}
                  <span>{{ time }}</span>
                {{/each}}
              </div>
            </td>
            <td>{{ data.status }}</td>
            <td>
              <span id="{{ data._id }}" class="btn btn-outline-primary query">查看</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="form-details">
    <i class="bi bi-x-square-fill"></i>
    <span class="room-name"></span>
    <span class="date"></span>
    <div class="times-wrapper-form">
      <span>時段：</span>
      <div class="times"></div>
    </div>
    <span class="status"></span>
    <span class="user"></span>
    <span class="purpose"></span>
    <span class="result"></span>

    <center>
      <button type="button" class="btn btn-primary">確認</button>
    </center>
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 審核狀況</title>
{{/extend}}

{{#extend 'scripts'}}
<script src="/dist/auditStatus.bundle.js"></script>
{{/extend}}