{{#with data}}
  {{#unless isAuth}}
    <script>location.href = '/login'</script>
  {{/unless}}

  <div class="wrapper">
    <form action="/rooms/audit-status" method="GET">
      <div class="filter-wrapper">
        <div>
          <label for="status">審核狀態：</label>
          <select id="status" name="status" class="form-select">
            <option value="">請選擇狀態</option>
            <option value="審核中">審核中</option>
            <option value="已被借用">已被借用</option>
            <option value="審核未通過">審核未通過</option>
          </select>
        </div>

        <div>
          <label for="date">日期：</label>
          <input type="date" id="date" name="date" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">更新審核資料</button>
      </div>
    </form>
  </div>

  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th><span class="th-span">教室</span></th>
          <th><span class="th-span">日期</span></th>
          <th><span class="th-span">時段</span></th>
          <th><span class="th-span">狀態</span></th>
          <th><span class="th-span">動作</span></th>
        </tr>
      </thead>

      <tbody>
        {{#each data as | data | }}
          <tr>
            <td>{{ data.room_name }}</td>
            <td>{{ data.date }}</td>
            <td>
              <div class="times-wrapper">
                {{#each data.times as | time | }}
                  <span>{{ time }}</span>
                {{/each}}
              </div>
            </td>
            <td>{{ data.status }}</td>
            <td>
              <span class="btn btn-outline-primary" onclick="displayForm('{{ data._id }}')">查看</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="form-details">
    <span class="room-name"></span>
    <br>
    <span class="date"></span>
    <br>
    <span class="times"></span>
    <span class="status"></span>
    <br>
    <span class="user"></span>
    <br>
    <span class="purpose"></span>
    <br>

    <button type="button">確認</button>
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 審核狀況</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/auditStatus.css">
<link rel="stylesheet" href="/css/form-control.css">
{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.querySelectorAll('.nav-link')[2]

    navLink.classList.add('active')
  </script>

  <script src="/js/auditStatus.js"></script>
{{/extend}}