{{#with data}}
  <div class="wrapper">
    <form action="/" method="GET">
      <div class="filter-wrapper">
        <div>
          <label for="room-name">教室：</label>
          <select id="room-name" name="room_name" class="form-select" required>
            <option value="">請選擇教室</option>
            {{#each rooms as | room | }}
              <option value="{{ room.room_name }}">{{ room.room_name }}</option>
            {{/each}}
          </select>
        </div>

        <div>
          <label for="date">日期：</label>
          <input type="date" id="date" name="date" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">更新借用狀況</button>
      </div>
    </form>

    {{#if roomName}}
      <div class="table-wrapper">
        <table class="table caption-top">
          <caption>
            {{ roomName }}教室
            <br>
            {{ dates.[0]}} ~ {{ dates.[6] }} 借用狀況
            </caption>

          <thead>
            <tr>
              <th><span class="th-span">時段</span></th>

              {{#each timeData.weeks as | week | }}
                <th><span class="th-span">{{ week }}</span></th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{#each times as | weeks time | }}
              <tr>
                <td>{{ time }}</td>

                {{#each weeks as | status week | }}
                  {{#if status}}
                    <td>
                      <span class="bi bi-check-square-fill checked" onclick="displayForm(this)"></span>
                    </td>

                  {{else}}
                    <td>
                      <span></span>
                    </td>
                  {{/if}}
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="form-details">
        <span class="room-name"></span>
        <span class="date"></span>
        <div class="times-wrapper-form">
          <span>時段：</span>
          <div class="times"></div>
        </div>
        <span class="user"></span>
        <span class="purpose"></span>
        <button type="button">確認</button>
      </div>
    {{/if}}
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 所有教室借用狀況</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/form-control.css">
{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.querySelectorAll('.nav-link')[0]
    navLink.classList.add('active')
  </script>

  <script src="/js/index.js"></script>
{{/extend}}
