{{#with data}}
  {{#unless isAuth}}
    <script>location.href = '/admin/login'</script>
  {{/unless}}

  <div class="wrapper">
    <center>
      <label for="filter" class="mt-2">篩選器：</label>
      <select id="filter" name="filter" onchange="location.href = '?status=' + this.value">
        <option value="">請選擇狀態</option>
        <option value="審核中">審核中</option>
        <option value="已被借用">已被借用</option>
        <option value="審核未通過">審核未通過</option>
      </select>
    </center>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>教室</th>
            <th>日期</th>
            <th>時段</th>
            <th>狀態</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          {{#each data as | data | }}
            <tr>
              <td>{{ data.room_name }}</td>
              <td>{{ data.date }}</td>
              <td>
                <div class="times-wrapper">
                  {{#each data.times as | time | }}
                    <p>{{ time }}</p>
                  {{/each}}
                </div>
              </td>
              <td>{{ data.status }}</td>
              <td>
                {{#unless data.result}}
                  <span class="btn-audit" onclick="displayForm(this)">審核</span>
                {{/unless}}

                {{#if data.result}}
                  <span class="btn-audit" onclick="displayForm(this)">查看</span>
                {{/if}}
              </td>
            </tr>

            <div class="form-details">
              <form action="/admin/rooms/audit/audit" method="POST">
                <input name="reserve_id" value="{{ data._id }}" style="display: none"></input>

                <span class="close-btn" onclick="closeBtn()"></span>

                <span>教室：{{ data.room_name }}</span>
                <span>日期：{{ data.date }}</span>

                <div class="times-wrapper-form">
                  <span>借用時段：</span>
                  <div>
                    {{#each data.times as | time | }}
                      {{ time }} ,
                      <br>
                    {{/each}}
                  </div>
                </div>

                <span>狀態：{{ data.status }}</span>
                <span>借用人：{{ data.user }}</span>
                <span>借用原因：{{ data.purpose }}</span>
                
                <div class="input-wrapper">
                  <center>
                    {{#unless data.result}}
                      <input type="radio" name="is_audit_success" value="1">
                      <label for="auditSuccess">審核通過</label>
                      
                      <input type="radio" name="is_audit_success" value="0">
                      <label for="auditFailed">審核不通過</label>
                      <br>

                      <label for="result">審核結果</label>
                      <input type="text" name="result" minlength="2" maxlength="20" size="20" required>
                      <br>

                      <button type="submit" class="btn btn-secondary">審核</button>
                    {{/unless}}

                    {{#if data.result}}
                      <div class="result-wrapper">
                        <span>審核結果：{{ data.result }}</span>
                        <button type="button" class="btn btn-secondary" onclick="closeBtn()">確認</button>
                      </div>
                    {{/if}}
                  </center>
                </div>
              </form>
            </div>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 審核系統</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/reserveAudit.css">
{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.querySelectorAll('.nav-link')[0]
    navLink.classList.add('active')
  </script>

  <script src="/js/getErrorMessage.js"></script>
  <script src="/js/reserveAudit.js"></script>
{{/extend}}