{{#with data}}
  <div class="wrapper">
    <form action="/admin/rooms/audit" method="GET">
      <div class="filter-wrapper">
        <div>
          <label for="status">狀態：</label>
          <select id="status" name="status" class="form-select">
            <option value="">請選擇狀態</option>
            <option value="審核中">審核中</option>
            <option value="已被借用">已被借用</option>
            <option value="審核未通過">審核未通過</option>
          </select>
        </div>

        <div>
          <label for="date">日期：</label>
          <input type="date" id="date" name="date" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">更新資料</button>
      </div>
    </form>

    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th><span class="th-span">教室</span></th>
            <th><span class="th-span">日期</span></th>
            <th><span class="th-span">時段</span></th>
            <th><span class="th-span">狀態</span></th>
            <th><span class="th-span">動作</span></th>
          </tr>
        </thead>
        
        <tbody>
          {{#each data as | data | }}
            <tr>
              <td>{{ data.room_name }}</td>
              <td>{{ data.date }}</td>
              <td>
                <div class="times-wrapper">
                  {{#each data.times as | time | }}
                    <span>{{ time }}</span>
                  {{/each}}
                </div>
              </td>
              <td>{{ data.status }}</td>
              <td>
                {{#unless data.result}}
                  <span class="btn btn-outline-primary" onclick="displayForm('{{ data._id }}')">審核</span>
                {{/unless}}

                {{#if data.result}}
                  <span class="btn btn-outline-primary" onclick="displayForm('{{ data._id }}')">查看</span>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-details">
    <i class="bi bi-x-square-fill" onclick="closeForm()"></i>
    <span class="room-name"></span>
    <span class="date"></span>
    <div class="times-wrapper-form">
      <span>時段：</span>
      <div class="times"></div>
    </div>
    <span class="status"></span>
    <span class="user"></span>
    <span class="purpose"></span>

    <div class="result-wrapper">
      <form action="/admin/rooms/audit" method="POST">
        <input type="text" id="reserve-id" name="reserve_id" style="display: none;">

        <div class="radios" style="display: none;">
          <input type="radio" id="success" name="is_audit_success" value="1" required>
          <label for="success">審核通過</label>
          <input type="radio" id="failed" name="is_audit_success" value="0" required>
          <label for="failed">審核不通過</label>
        </div>

        <div class="result">
          <center>
            <label for="result">審核結果：</label>
          </center>
          <input type="text" class="form-control" id="result" name="result" minlength="2" maxlength="20" style="display: none;" required>
        </div>

        <center>
          <button type="button" class="btn btn-primary">確認</button>
        </center>
      </form>
    </div>
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 審核系統</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/form-details.css">
<link rel="stylesheet" href="/css/reserveAudit.css">
<link rel="stylesheet" href="/css/form-control.css">
{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.querySelectorAll('.nav-link')[0]
    navLink.classList.add('active')
  </script>

  <script src="/js/getErrorMessage.js"></script>
  <script src="/js/reserveAudit.js"></script>
{{/extend}}