{{#with data}}
  {{#unless isAuth}}
    <script>location.href = "/login"</script>
  {{/unless}}

  <div class="wrapper">
    <form action="/rooms/reserve" method="GET">
      <div class="options-wrapper">
        <div class="option">
          <label for="room-name">教室：</label>
          <select id="room-name" name="room_name" class="form-select" required>
            <option value="">請選擇教室</option>
            {{#each rooms as | room | }}
              <option value="{{ room }}">{{ room }}</option>
            {{/each}}
          </select>
        </div>

        <div class="option">
          <label for="room-date">日期：</label>
          <input id="room-date" name="date" type="date" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary" onclick="isValidDate(event)">更新時段表</button>
      </div>
    </form>

    <form id="reserveForm" action="/rooms/reserve/add" method="POST">
      <div class="table-wrapper">
        <table class="caption-top">
          <caption>{{ roomName }}教室 時段表</caption>

          <thead>
            <tr>
              <th>時段</th>

              {{#each timeData.weeks as | week | }}
              <th>{{ week }}</th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{#each times as | weeks time | }}
            <tr>
              <td>{{ time }}</td>

              {{#each weeks as | status week | }}
              <td>
                {{#if status}}
                  <input type="checkbox" name="room_time" value="{{ time }}">
                {{else}}
                <input type="checkbox" disabled>
                {{/if}}
              </td>
              {{/each}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="form-details">
        <span class="close-btn" onclick="closeBtn()"></span>

        <span id="room_name"></span>
        <input type="text" id="room_name_input" name="room_name" style="display: none;">

        <span id="date"></span>
        <input type="text" id="date_input" name="date" style="display: none;">

        <div class="times-wrapper">
          <span>借用時段：</span>
          <div id="times"></div>
        </div>

        <input type="text" name="status" value="審核中" style="display: none;">

        <span id="user">借用人：{{ user }}</span>
        <input type="text" name="user" value="{{ user }}" style="display: none;">

        <div class="purpose-wrapper">
          <label for="purpose">借用原因：</label>
          <input type="text" id="purpose" name="purpose" minlength="2" maxlength="20" size="13" required>
        </div>

        <center>
          <button type="submit" class="btn btn-secondary">確定借用</button>
        </center>
      </div>
    </form>

    {{#if roomName}}
      <center>
        <button class="btn btn-outline-primary mb-2" onclick="displayForm()"><b>我要借用</b></button>
      </center>
    {{/if}}
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 借用教室</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/roomsReserve.css">
{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.querySelectorAll('.nav-link')[1]
    navLink.classList.add('active')
  </script>

  <script src="/js/getErrorMessage.js"></script>
  <script src="/js/roomsReserve.js"></script>
{{/extend}}