<form action="/admin/rooms/time/add" method="POST">
  <div class="container">
    <div class="container-select">
      <label for="room_name">教室：</label>
      <select id="room_name" name="room_name">
        <option value="null">請選擇教室</option>
        {{#each rooms}}
        <option value={{ this.room_name }}>{{ this.room_name }}</option>
        {{/each}}
      </select>
    </div>

    <div class="container-select">
      <label for="week">星期：</label>
      <select id="week" name="week">
        {{#each data.weeks}}
        <option value="{{ @index }}">{{ this }}</option>
        {{/each}}
      </select>
    </div>

    <div class="container-select">
      <label for="time">時段：</label>
      <select id="time" name="time">
        {{#each data.times}}
        <option value="{{ this }}">{{ this }}</option>
        {{/each}}
      </select>
    </div>

    <div class="container-button">
      <button type="submit">新增時段</button>
      <button type="button" onclick="location.href='/admin/rooms/time/delete'">刪除時段</button>
    </div>
  </div>
</form>

{{#extend 'title'}}
<title>教室借用系統 - 時段管理</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/form-card.css">
<link rel="stylesheet" href="/css/rooms-time.css">
{{/extend}}

{{#extend 'scripts'}}
<script src="/js/rooms-time.js"></script>
{{/extend}}