<div class="container-select">
  <label for="">教室：</label>
  <select id="" name="" onchange="location.href = '/admin/rooms/time/delete/' + this.value">
    <option value="">請選擇教室</option>
    {{#each rooms}}
      <option value="{{ this }}">{{ this }}</option>
    {{/each}}
  </select>
</div>

<form action="/admin/rooms/time/delete/{{ roomName }}" method="POST">
  <table>
    <caption>{{ roomName }}教室 時段表</caption>

    <colgroup>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>

    <thead>
      <tr>
        <th></th>
        {{#each timeData.weeks as | week | }}
          <th>{{ week }}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody>
      {{#each data as | weeks time | }}
        <tr>
          <td>{{ time }}</td>

          {{#each weeks as | status week | }}
            {{#if status}}
              <td>
                <input type="checkbox" name="rooms_time" value="{{ week }},{{ time }}">
              </td>
            {{else}}
              <td>
                <input type="checkbox" disabled>
              </td>
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <button type="submit">刪除時段</button>
</form>

{{#extend 'title'}}
<title>教室借用系統 - 刪除時段</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/form-card.css">
<link rel="stylesheet" href="/css/rooms-time-delete.css">
{{/extend}}

{{#extend 'scripts'}}
<script src="/js/rooms-time-delete.js"></script>
{{/extend}}