{{#with data}}
  <span id="is-auth" style="display: none;">{{ isAuth }}</span>
  <script src="/js/toBoolean.js"></script>
  <script src="/js/user.js"></script>

  <div class="wrapper">
    <form action="/rooms/reserve" method="GET">
      <div class="filter-wrapper">
        <div>
          <label for="room-name">教室：</label>
          <select id="room-name" name="room_name" class="form-select" required>
            <option value="">請選擇教室</option>
            {{#each rooms as | room | }}
              <option value="{{ room }}">{{ room }}</option>
            {{/each}}
          </select>
        </div>

        <div>
          <label for="room-date">日期：</label>
          <input id="room-date" name="date" type="date" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary update-btn">查看</button>
      </div>
    </form>

    <form id="reserveForm" action="/rooms/reserve/add" method="POST">
      <div class="table-wrapper">
        <table class="table caption-top">
          <caption>{{ roomName }}教室 時段表</caption>

          <thead>
            <tr>
              <th><span class="th-span">時段</span></th>

              {{#each timeData.weeks as | week | }}
              <th><span class="th-span">{{ week }}</span></th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{#each times as | weeks time | }}
            <tr>
              <td>{{ time }}</td>

              {{#each weeks as | status week | }}
              <td>
                {{#if status}}
                  <div class="checkbox">
                    <input type="checkbox" name="room_time" value="{{ time }}">
                  </div>
                {{else}}
                  <div class="checkbox">
                    <input type="checkbox" disabled>
                  </div>
                {{/if}}
              </td>
              {{/each}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="form-details">
        <i class="bi bi-x-square-fill"></i>
        <span id="room_name"></span>
        <input type="text" id="room_name_input" name="room_name" style="display: none;">

        <span id="date"></span>
        <input type="text" id="date_input" name="date" style="display: none;">

        <div class="times-wrapper-form">
          <span>時段：</span>
          <div class="times"></div>
        </div>

        <input type="text" name="status" value="審核中" style="display: none;">

        <span id="user">預約人：{{ user }}</span>
        <input type="text" name="user" value="{{ user }}" style="display: none;">

        <div class="purpose-wrapper">
          <center>
            <label for="purpose">預約原因：</label>
          </center>
          <input type="text" class="form-control" id="purpose" name="purpose" minlength="2" maxlength="20" required>
        </div>

        <center>
          <button type="submit" class="btn btn-primary reserve-btn">確定預約</button>
        </center>
      </div>
    </form>

    {{#if roomName}}
      <center>
        <button type="button" class="btn btn-outline-primary mb-2 display-btn"><b>我要預約</b></button>
      </center>
    {{/if}}
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 預約教室</title>
{{/extend}}

{{#extend 'css'}}
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/roomsReserve.css">
<link rel="stylesheet" href="/css/form-details.css">
<link rel="stylesheet" href="/css/form-control.css">
{{/extend}}

{{#extend 'scripts'}}
  <script src="/js/getErrorMessage.js"></script>
  <script src="/js/roomsReserve.js"></script>
  <script src="/js/closeForm.js"></script>
{{/extend}}