{{#with data}}
  {{#unless isAuth}}
  <script>location.href = "/login"</script>
  {{/unless}}

  <div class="container">
    <form action="/rooms/reserve" method="GET">
      <div class="form-wrapper">
        <label for="room-name">教室：</label>
        <select id="room-name" name="room_name" required>
          <option value="">請選擇教室</option>
          {{#each allRooms as | room | }}
            <option value="{{ room }}">{{ room }}</option>
          {{/each}}
        </select>

        <label for="date">日期：</label>
        <input id="date" name="date" type="date" required>

        <button type="submit">更新時段表</button>
      </div>
    </form>

    <form id="reserveForm" action="/rooms/reserve/add" method="POST">
      <div class="table-wrapper">
        <table class="caption-top">
          <caption>{{ roomName }}教室 時段表</caption>

          <thead>
            <tr>
              <th>時段</th>

              {{#each timeData.weeks as | week | }}
              <th>{{ week }}</th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{#each times as | weeks time | }}
            <tr>
              <td>{{ time }}</td>

              {{#each weeks as | status week | }}
              <td>
                {{#if status}}
                  <input type="checkbox" name="room_time" value="{{ time }}">
                {{else}}
                <input type="checkbox" disabled>
                {{/if}}
              </td>
              {{/each}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      {{#if roomName}}
        <button onclick="submit()">借用教室</button>
      {{/if}}
    </form>
      
  </div>
{{/with}}

{{#extend 'title'}}
<title>高雄NewOne靈糧堂 - 借用教室</title>
{{/extend}}

{{#extend 'css'}}

{{/extend}}

{{#extend 'scripts'}}
  <script>
    const navLink = document.getElementsByClassName('nav-link')[1]
    navLink.classList.add('active')
  </script>

  <script>

    async function submit() {
      const reserveForm = document.getElementById('reserveForm')

      const urlParams = new URLSearchParams(window.location.search)
      const roomName = urlParams.get('room_name')
      const date = urlParams.get('date')
      
      const formData = new FormData(reserveForm)
      formData.append('room_name', roomName)
      formData.append('date', date)
        
      console.log(reserveForm)
      console.log(formData.get('date'))

      const response = await fetch('/rooms/reserve/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: formData
      })

      const result = await response.json()

      console.log(result)
    }
  </script>
{{/extend}}