{{#with data}}
  <span id="mode" style="display: none;">{{ mode.string }}</span>

  <div class="wrapper">
    <div class="filter-wrapper">
      <label for="room-select">教室：</label>
      <select id="room-select" class="form-select">
        <option value="">請選擇教室</option>

        {{#each rooms as | room | }}
          <option value="{{ room }}">{{ room }}</option>
        {{/each}}
      </select>

      <button type="button" class="btn btn-success select-all">全選</button>
    </div>

    <form action="/admin/rooms/time/{{ mode.string }}/{{ roomName }}" method="POST">
      <div class="table-wrapper">
        <table class="table caption-top">
          <caption> {{ roomName }}教室時段表 </caption>

          <thead>
            <tr>
              <th><span class="th-span">時段</span></th>

              {{#each timeData.weeks as | week | }}
                <th><span class="th-span">{{ week }}</span></th>
              {{/each}}

            </tr>
          </thead>

          <tbody>
            {{#each times as | weeks time | }}
              <tr>
                <td>{{ time }}</td>

                {{#each weeks as | status week | }}
                  {{#if status}}
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" name="room_time" value="{{ week }},{{ time }}">
                      </div>
                    </td>
                  {{else}}
                    <td>
                      <div class="checkbox">
                        <input type="checkbox" disabled>
                      </div>
                    </td>
                  {{/if}}
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      {{#if roomName}}
        {{#if mode.add}}
          <center>
            <button type="submit" class="btn btn-primary">新增時段</button>
          </center>
        {{/if}}
      {{/if}}

      {{#if roomName}}
        {{#if mode.delete}}
          <center>
            <button type="submit" class="btn btn-danger">刪除時段</button>
          </center>
        {{/if}}
      {{/if}}
    </form>
  </div>

  {{#if mode.add}}
    {{#extend 'title'}}
      <title>教室借用系統 - 新增時段</title>
    {{/extend}}
  {{/if}}

  {{#if mode.delete}}
    {{#extend 'title'}}
      <title>教室借用系統 - 刪除時段</title>
    {{/extend}}
  {{/if}}

  {{#extend 'scripts'}}
    <script src="/dist/timeManage.bundle.js"></script>
  {{/extend}}
{{/with}}
